.moments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

img {
  max-width: 500px;
  margin-bottom: 0 auto 1em;
}

.about-moment, .action {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 1.2em;
}

.actions {
  background-color: #eee;
  padding: 2rem;
}

.actions h3 {
  color: #000;
}

.comments {
  margin-bottom: 1em;
  padding: 1.5em 0;
}

form {
  margin: 3rem 0;
}

.form-group {
  text-align: start;
}

.author, .author span {
  font-size: 1.5rem;
}
.author{
  font-style: italic;
  padding: 1rem;
}

.comment {
  font-size: 1.8rem;
}
.comment-container{
  width: (200px,  1000px, 70%);
  padding: 1rem;
}