* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 62.5%;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
span {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: .4s;
  font-size: 1.6rem;
}

a:hover{
  color: coral;
}

form {
  width: 45rem;
  margin: 0 auto;
  background-color: #444;
 }

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: .4rem;
}

.form-group input,
.form-group textarea {
  padding: .6rem;
  color: #444;
  font-size: 1.7rem;
  border: 1px solid #7e7e7e;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #EFEFEF;
  font-size: 1.7rem;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid transparent;
  text-transform: uppercase;
  transform: 0.4s;
  color: #444;
}
input[type="submit"]:hover {
color: #dec129;
background-color: #444;;
border-color: #dec129;
}

input[type="file"] {
  cursor: pointer;
  color: #dec129;
  background-color: #EFEFEF;
  font-size: 1.7rem;
  padding: .8rem;
  cursor: pointer;
  border: 2px solid transparent;
}

.validation-error p {
  color: red;
  margin-top: 0.5rem;
  border-left: 5px solid #dc3545;
  padding-left: 0.5rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
